.clock {
    display: flex;
    align-items: center;
}
.time {
    margin-left: 20px;
    font-size: 4em;
    padding-right: 10px;
}

.phase {
    width: 10px;
}

.phase div {
    color: lightgray;
}

.phase div.active {
    color: black
}