.score {
    background: none;
    border: none;
}

.score label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5em;
}

.score .tick {
    font-size: 4em;
}

.score:focus {
    outline: none;
}

.score:active {
    color: black;
}